{% block content %}
<div class="card mx-auto w-1/2 mt-6 p-2 shadow-xl">
    <h1 class="text-3xl text-center">Who's the Glutton?</h1>
    <div class="w-full flex flex-row">
        <div class="w-1/2">
            <p class="mt-4 text-center">
                <strong>Player 1: {{ players.player1 }}</strong>
            </p>
            <p class="mt-4 text-center text-red-500">
                <strong>Score: {{ players.player1_score }}</strong>
            </p>
        </div>
        <div class="w-1/2">
            <p class="mt-4 text-center">
                <strong>Player 2: {{ players.player2 }}</strong>
            </p>
            <p class="mt-4 text-center text-red-500">
                <strong>Score: {{ players.player2_score }}</strong>
            </p>
        </div>
    </div>
    <div class="w-full flex flex-col gap-5">
        <p class="mt-4 text-center text-red-500">
            <strong> {{ players.get(players.current_player) }}'s Turn</strong>
        </p>

        <!-- static dice1.svg -->
        <div class="w-full flex flex-row justify-center">
            <img src="/static/dice{{ players.dice}}.svg" alt="dice1" class="w-1/4">
        </div>

        <div class="w-full flex flex-row justify-center gap-4">
            <div class="w-1/4">
                <button hx-get="/roll" hx-target="#app"
                    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">ROLL</button>
            </div>
            <div class="w-1/4 mb-6">
                <button hx-get="/hold" hx-target="#app"
                    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">HOLD</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}